<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
<p-toast position="top-center"></p-toast>
<p-card>
    <form (ngSubmit)="save()" [formGroup]="navigationForm">
        <div class="card grid">
          <div class="field col-12 md:col-6 lg:col-3">
            <label for="navigationLabel">Navigation Label</label>
            <input id="navigationLabel" formControlName="label" type="text" pInputText class="inputfield w-full">
          </div>
          <div class="field col-12 md:col-6 lg:col-3">
            <label for="navigationRoute">Navigation Route</label>
            <input id="navigationRoute" formControlName="route" type="text" pInputText class="inputfield w-full">
          </div>
          <div class="field col-12 md:col-6 lg:col-3">
            <label for="navigationIcon">Navigation Icon</label>
            <input id="navigationIcon" formControlName="icon" type="text" pInputText class="inputfield w-full">
          </div>
          <div class="field col-12 md:col-6 lg:col-3">
            <label for="roles">Roles</label>
            <input id="roles" formControlName="roles" type="text" pInputText class="inputfield w-full">
          </div>
          <div class="col-12">

          </div>
        </div>
    </form>

</p-card>
