<mat-toolbar color="primary" fxFlex="row" >
  <div fxFlex="row">
    <button mat-button  (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Blog Manager</span>
  </div>
  <div fxFlex="row" fxLayoutAlign="end">
    <button mat-button (click)="gotoProfile()">Profile</button>
    <button mat-button (click)="logout()">Logout</button>
  </div>


</mat-toolbar>
<!--
<p-toolbar styleClass="bg-indigo-700 p-4 w-full fixed">
  <div class="p-toolbar-group-left">
&lt;!&ndash;    <p-button class="p-button-rounded" icon="pi pi-bars" (click)="toggleSidenav.emit()"></p-button>&ndash;&gt;
    <i class="pi pi-bars bg-white" style="cursor: pointer" (click)="toggleSidenav.emit()" ></i>
  </div>
  <div class="p-toolbar-group-right">
    <p-button>Profile</p-button>
    <p-button>Logout</p-button>
  </div>
</p-toolbar>
-->
