.main-container{
    width: 100%;
    height: 100%;
}

.sidebar-container{
  min-width: 15%;
}


.sidebar-content{
  display: flex;
  height: 100%;
  flex-direction: column;
}


.example-spacer {
  flex: 1 1 auto;
}
