<mat-drawer-container class="main-container">
    <mat-drawer #drawer [mode]="isScreenSmall? 'over': 'side'" class="sidebar-container mat-elevation-z10" [opened]="!isScreenSmall">
      <mat-toolbar color="primary">BANBEIS</mat-toolbar>
      <div style="flex-shrink: initial">
          <p-panelMenu [model]="items" [multiple]="false" [style]="{'width': '100%'}"></p-panelMenu>
      </div>
    </mat-drawer>
    <mat-drawer-content class="sidebar-content">
        <app-toolbar (toggleSidenav)="drawer.toggle()"></app-toolbar>
        <div style="flex-shrink: initial;">
          <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
