<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
<p-toast position="top-center"></p-toast>
<p-card>
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <!--Empty and it's intentional-->
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/navigation/new']"></button>
    </ng-template>
  </p-toolbar>
  <p-table responsiveLayout="scroll" [value]="navigations" dataKey="id" >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th>Label</th>
        <th>Route</th>
        <th>Icon</th>
        <th>Roles</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-navigation let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="navigation" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>{{navigation.label}}</td>
        <td>{{navigation.route}}</td>
        <td><i class="pi pi-{{navigation.icon}}"></i></td>
        <td>{{navigation.roles}}</td>
        <td>
          <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded"></button>
          <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary"></button>
          <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteNavigation(navigation.id)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-navigation>
      <tr>
        <td colspan="5">
          <div class="p-3">
            <p-table [value]="navigation.submenus" dataKey="id">
              <ng-template pTemplate="header">
      <tr>
      <th>Label</th>
      <th>Route</th>
      <th>Icon</th>
      <th>Roles</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-submenu>
      <tr>
        <td>{{submenu.label}}</td>
        <td>{{submenu.route}}</td>
        <td><i class="pi pi-{{submenu.icon}}"></i></td>
        <td>{{submenu.roles}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">There are no order for this product yet.</td>
      </tr>
    </ng-template>
  </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  </p-table>
</p-card>
